body {
  width: 100%;
  height: 100%;
  margin: 0; 
  text-align: center;
}
h1 {
  color: red;
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(172, 172, 172);
}

#featured-property p {
  margin: 20px auto;
  width: 800px;
}

#details div {
  float: left;
  background-color: red;
  width: 25%;
}